<configuration debug="false">
	<statusListener class="ch.qos.logback.core.status.NopStatusListener" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
       		<pattern>%d{HH:mm:ss.SSS} %magenta(%-5level) %cyan(%-47logger) : %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="com.datastax.astra.sdk" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="dev.langchain4j.store" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="com.datastax.oss.driver" level="ERROR" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>