name: Add new PR to Project

on:
  pull_request:
    types:
      - opened
      - reopened

jobs:
  add-to-project:
    if: github.repository_owner == 'langchain4j'
    name: Add PR to Project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@v0.6.1
        with:
          project-url: https://github.com/users/langchain4j/projects/2
          github-token: ${{ secrets.GITHUB_TOKEN }}
