name: Nightly Build

on:
  schedule:
    - cron: '0 0 * * *'  # daily at midnight UTC
  workflow_dispatch:

jobs:
  java_build:
    strategy:
      fail-fast: false # do not cancel jobs on error
      matrix:
        java_version:
          - 17
          - 21
        include:
          - java_version: '17'
            mvn_opts: '-pl !langchain4j-ollama,!langchain4j-local-ai,!langchain4j-milvus'
          - java_version: '21'
            mvn_opts: '-pl !langchain4j-ollama,!langchain4j-local-ai,!langchain4j-milvus'
      max-parallel: 1
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK ${{ matrix.java_version }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java_version }}
          distribution: 'temurin'
          cache: 'maven'

      - name: Build with JDK ${{ matrix.java_version }}
        run: |
          ## compile and verify javadocs on ALL modules
          mvn -B -U -T8C test javadoc:aggregate \
            --fail-at-end \
            ${{ matrix.mvn_opts }}
          

      - name: Upload Test Reports
        if: always() # always run even if the previous step failed or was cancelled
        uses: actions/upload-artifact@v3
        with:
          name: Test-Reports-${{ matrix.java-version }}
          path: '**/target/*-reports/*'

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v4
        if: always() # always run even if the previous step failed or was cancelled
        with:
          report_paths: '**/target/*-reports/TEST-*.xml'
          annotate_only: true
