name: Nightly Build Oracle

# Oracle module is tested separately because it requires a lot of disk space
# and does not fit in one job together with other modules

on:
  schedule:
    - cron: '0 6 * * *'  # daily at 06:00 UTC
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'temurin'
          cache: 'maven'

      - name: Build with JDK 17
        run: |
          ## compile and install ALL modules to avoid running integration tests on dependent modules in the step below
          mvn -B -U -T8C -DskipTests -DskipITs -DembeddingsSkipCache install

          mvn -B -U verify \
            -pl langchain4j-oracle \
            --fail-at-end -Dmaven.test.failure.ignore=true \
            -Djunit.jupiter.extensions.autodetection.enabled=true \
            -DembeddingsSkipCache \
            -Dtinylog.writer.level=info

        env:
          LC4J_GLOBAL_TEST_RETRY_ENABLED: true

      - name: Clean Docker
        run: docker system prune -af || true

      - name: Upload Test Reports
        if: always() # always run even if the previous step failed or was cancelled
        uses: actions/upload-artifact@v4
        with:
          name: Test-Reports-${{ strategy.job-index }}
          path: '**/target/*-reports/*'

      - name: Publish Test Report
        if: always() # always run even if the previous step failed or was cancelled
        uses: mikepenz/action-junit-report@v5
        with:
          report_paths: '**/target/*-reports/TEST-*.xml'
          annotate_only: true

      - name: Upload JaCoCo Reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-${{ strategy.job-index }}
          path: '**/target/site/jacoco/**'

      - name: Upload JaCoCo Execution Data
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-exec-${{ strategy.job-index }}
          path: '**/target/jacoco.exec'
