name: snapshot_release

# Only run on pushes to main:
# Replace with 'on: [push]' if you need to run tests on your PR
on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  snapshot_release:
    if: github.repository == 'langchain4j/langchain4j'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
        # Modules specify the oldest java version that they support:
        # even if we build with version 21, produced jars should be compatible with
        # JVMs running the version specified in each module's maven.compiler.target property
          java-version: '21'
          distribution: 'temurin'
          server-id: central
          server-username: MAVEN_CENTRAL_USERNAME
          server-password: MAVEN_CENTRAL_PASSWORD
      - name: snapshot_release
        env:
          MAVEN_CENTRAL_USERNAME: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          MAVEN_CENTRAL_PASSWORD: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
        # Notes:
        #  - tests already run in a separate action (main)
        run: |
          mvn -B -U --fail-at-end \
            -DskipTests -DskipITs \
            -pl !langchain4j-core,!langchain4j-parent \
            clean deploy

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v4
        if: success() || failure() # always run even if the previous step fails
        with:
          report_paths: '**/target/*-reports/TEST-*.xml'
          annotate_only: true
