name: Update versions for next dev iteration

on:
  repository_dispatch:
    types: [ trigger-update-versions-next-dev-iteration ]
  workflow_dispatch:
    inputs:
      nextStableVersion:
        description: "Next stable SNAPSHOT version (e.g., 1.9.0-SNAPSHOT)"
        required: true
      nextBetaVersion:
        description: "Next beta SNAPSHOT version (e.g., 1.9.0-beta16-SNAPSHOT)"
        required: true

env:
  NEXT_STABLE_VERSION: ${{ github.event.inputs.nextStableVersion || github.event.client_payload.nextStableVersion }}
  NEXT_BETA_VERSION: ${{ github.event.inputs.nextBetaVersion || github.event.client_payload.nextBetaVersion }}

jobs:
  update_versions:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: maven

      - name: Show inputs
        run: |
          echo "Next stable version: ${{ env.NEXT_STABLE_VERSION }}"
          echo "Next beta version: ${{ env.NEXT_BETA_VERSION }}"

      - name: Extract current stable version property
        id: extract-current-stable
        run: |
          REVISION=$(mvn help:evaluate -Dexpression=langchain4j.stable.version -q -DforceStdout)
          echo "currentStableVersion=$REVISION" >> $GITHUB_OUTPUT

      - name: Extract current beta version property
        id: extract-current-beta
        run: |
          REVISION=$(mvn help:evaluate -Dexpression=langchain4j.beta.version -q -DforceStdout)
          echo "currentBetaVersion=$REVISION" >> $GITHUB_OUTPUT

      - name: Update stable versions
        run: |
          mvn versions:set \
          -DnewVersion=${{ env.NEXT_STABLE_VERSION }} \
          -DoldVersion=${{ steps.extract-current-stable.outputs.currentStableVersion }} \
          -DgroupId=* -DartifactId=* -DgenerateBackupPoms=false

      - name: Update stable version property
        run: |
          mvn versions:set-property \
          -Dproperty=langchain4j.stable.version \
          -DnewVersion=${{ env.NEXT_STABLE_VERSION }} \
          -DgenerateBackupPoms=false

      - name: Update beta versions
        run: |
          mvn versions:set \
          -DnewVersion=${{ env.NEXT_BETA_VERSION }} \
          -DoldVersion=${{ steps.extract-current-beta.outputs.currentBetaVersion }} \
          -DgroupId=* -DartifactId=* -DgenerateBackupPoms=false

      - name: Update beta version property
        run: |
          mvn versions:set-property \
          -Dproperty=langchain4j.beta.version \
          -DnewVersion=${{ env.NEXT_BETA_VERSION }} \
          -DgenerateBackupPoms=false

      - name: Commit and push changes
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git add .
          git commit -m "Update versions to ${{ env.NEXT_STABLE_VERSION }} and ${{ env.NEXT_BETA_VERSION }}"
          git push origin main

      - name: Trigger the same job in the langchain4j-embeddings repo
        uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ secrets.GH_RELEASE_AUTOMATION_PAT }}
          repository: langchain4j/langchain4j-embeddings
          event-type: trigger-update-versions-next-dev-iteration
          client-payload: |
            {
              "nextStableVersion": "${{ env.NEXT_STABLE_VERSION }}",
              "nextBetaVersion": "${{ env.NEXT_BETA_VERSION }}"
            }

      - name: Trigger SNAPSHOT release for core and parent modules
        uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ secrets.GH_RELEASE_AUTOMATION_PAT }}
          repository: langchain4j/langchain4j
          event-type: trigger-snapshot-release-core-and-parent

      - name: Trigger the same job in the langchain4j-spring repo
        uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ secrets.GH_RELEASE_AUTOMATION_PAT }}
          repository: langchain4j/langchain4j-spring
          event-type: trigger-update-versions-next-dev-iteration
          client-payload: |
            {
              "nextStableVersion": "${{ env.NEXT_STABLE_VERSION }}",
              "nextBetaVersion": "${{ env.NEXT_BETA_VERSION }}"
            }
